/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

@keyframes zoom-scroll {
	0% {
		filter: blur(5rem);
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
	}
	100% {
		filter: blur(0);
		transform: none;
		opacity: 1;
		visibility: visible;
	}
}
.zoom-scroll {
	animation: zoom-scroll ease-in-out 0.5s;
}
.dot {
	display: none;
	opacity: 0;
}
.show {
	opacity: 1 !important;
}
.wrapper {
	display: block;
	position: relative;
	margin: 0;
	font-family: "Readex Pro", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
a {
	padding: 7px;
	color: rgb(255, 0, 0);
}
footer {
	display: none;
}

header {
	display: flex;
}
main {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1em;
	padding: 1em;
}
header {
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	background-color: #fff;
	top: 0;
	align-items: flex-end;
	z-index: 2;
}
header .header-hide {
	display: none;
}
.logo {
	display: block;
	background: url('./images/R.png') 0 0 no-repeat;
	background-size: cover;
	width: 70px;
	height: 100px;
}
.show-skills {
    top: 0;
    left: 1em;
    margin-top: 100px;
    background: #fff;
    width: calc(100% - 1em);
    position: absolute;
    z-index: 3;
}
.show-skills ul {
	display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
    padding-top: 0.25em;
}
.show-skills .close-skills {
	font-weight: bold;
	font-size: 30px;
	position: absolute;
	right: 2em;
    top: 0;
	background-color: transparent;
	border: none;
	color:rgba(188, 24, 35, 1);
}
.project {
	background-size: cover;
	opacity: 0;
	transition: opacity 1.5s;
}
.project .group {
	padding-left: 1em;
	container-type: inline-size;
	transition: .5s ease;
	width: calc(100% - 1em);
    height: 100%;
	background: rgba(0, 0, 0);
	
}

.project .group:not(.focussed) {
    color: rgba(225, 225, 225, 0);
    opacity: 0.5;
}
.project .group.focussed {
	opacity: 1;
    color: rgba(225, 225, 225);
}
.group h2, 
.group ul {
	margin: 0;
}

.buttons {
    margin-top: 0.5em;
}
.btn {
	display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
	transition: .5s ease;
    border: 1px solid #000;
    color: rgb(246 4 4);
	background-color: rgba(188, 24, 35, 0);
	margin: 0.5em 0.5em 0 0;
    font-size: 0.75em;
}
.btn:not(.disabled):hover,
.btn:not(.disabled):focus {
    color: #fff;
	background-color: transparent;
    border-color: transparent;
}
.btn:not(.disabled):hover,
.btn:not(.disabled):focus, 
.clickme button:hover,
.clickme button:focus {
	text-shadow:#0ff -1.60012px 0px 0, red 1.60012px 0px 0;
}
.btn.disabled {
	color:#fff;
	border-color: transparent;
	cursor: not-allowed;
}
.btn.disabled:hover,
.btn.disabled:focus {
	color: rgb(50, 49, 50);
	background-color:transparent;
	border-color: transparent;
}
.one, .two {
	display: flex;
    flex-flow: column;
    justify-content: center;
	box-shadow: 1px 1px 1px #444, 1px 1px #444;
}
.one, .two, .three, .four, .five, .six {
	grid-column: 1 / span 3;
}
.one {
	min-height: calc(324px + 1em);
}
.two {
	min-height: calc(335px + 1em);
}
.three {
	background: url('./images/portfolio.png') 0 5% no-repeat;
	min-height: calc(380px + 1em);
}
.four {
	background: url('./images/yong.png') 0 0 no-repeat;
	min-height: calc(270px + 1em);
}
.five {
	background: url('./images/ally-check.png') center center no-repeat;
}
.six {
	background: url('./images/blog.png') center center no-repeat;
}
.mobile-hidden {
	display: none;
}
header h1 {
    padding-left: 0.25em;
}
.contact img {
	filter: hue-rotate(148deg);
}
.contact.third {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
h2.header-hide {
    min-width: 100%;
}
header .contact.first {
	text-align: center;
    flex-grow: 1;
}
.js-vid-caption {
    background: black;
    padding: 0.65em;
    text-align: center;
	position: relative;
	flex-grow: 1;
	vertical-align: middle;
}
.button-tool-tip {
	position: absolute;
	margin-top: -20px;
	top:0%;
	left: 50%;
	transform: translate(-50%, -70%);
	border: 1px solid #000;
	background-color: black;
	box-shadow: -1.60012px 1px 0px rgb(255, 0, 0), 1.60012px 2px 0px rgb(0, 255, 255);
	color:#fff;
    padding: 0.25em;
	opacity: 0;
	transition: opacity 2s;
}
.js-vid-caption:hover .button-tool-tip {
    opacity: 1;
}

#js-vid {
	width: 100%;
	max-height: 418px;
	margin: auto;
}
.clickme {
    grid-column: 2 / span 1;
	min-height: 50px;
}
.clickme button {
	background-color: transparent;
	border: none;
	padding: 14px;
	font-size: 18px;
}
@container (max-width: 279px) {
	.group p, .group ul, .group .btn {
		font-size: 0.65em;
	}
	.group ul li {
		padding-left: 0em;
	}
}
@media screen and (min-width: 460px) {
	main {
		grid-template-rows: auto;
	}
	.two {
		grid-column: 1 / span 2;
	}
	.three {
		grid-column: 3 / span 1;
	}
	.four {
		grid-column: 1 / span 1;
	}
	.five {
		grid-column: 2 / span 1;
	}
	.six {
		grid-column: 3 / span 1;
	}
}
@media screen and (min-width: 800px) {
	.clickme {
		grid-row: 2 /span 1;
		grid-column: 2 / span 1;
	}
	.contact.third >* {
		max-width: calc(100% / 3);
	}
	*:not(:has(>a)) {
		cursor: none;
	}
	video:hover, a:hover, button:hover {
		cursor:default;
	}
	.contact.third a {
		display: block;
		height: 40px;
		width: 40px;
	}
	.contact a:hover, aside a:hover {
		outline: 2px solid #bc1823;
	}
	.dot {
		display: block;
		width:100px;
		z-index: 25;
		transition: fill ease-out 0.5s, transform linear 200ms;
		clip-path: content-box;

	}
	.gooeys {
		filter: url('#gooey-filter');
		z-index: 50;
	}
	.wrapper {
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(8, 0.5fr);
		gap: 1em;
	}

	main {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: 1 / span 11;
		grid-row: 1 / span 6;
		padding: 0;
	}
	section {
		margin: 0;
	}
	.project .group {
		container-type: size;
	}
	*:focus {
		outline: 2px solid rgba(188, 24, 35, 1);
	}
	.logo {
		grid-row: 4 / span 3;
		grid-column: 1 / span 3;
		width: unset;
		height: unset;
	}
	.one {
		grid-column: 4 / span 4;
		grid-row: 1 / span 3;
	}
	.two {
		grid-column: 8 / span 4;
		grid-row: 1 / span 3;
	}
	.four, .three, .five, .six {
		grid-row: 4 / span 3;
		min-height: auto;
	}

	.three {
		grid-column: 4 / span 2;
	}

	.four {
		grid-column: 6 / span 2;
	}
	.five {
		grid-column: 8 / span 2;
	}
	.six {
		grid-column: 10 / span 2;
	}

	footer {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: 1 / span 11;
		grid-row: 7 / span 2;
	}
	.contact {
		grid-row: 1;
	}
	.contact img {
		width: 40px;
	}
	aside {
		grid-column: 4 / span 4;
		grid-row: 8 / span 1;
		text-align: center;
	}
	.contact.first {
		grid-column: 1 / span 2;
		padding-left: 1em;
	}
	.contact.second {
		grid-column: 4 / span 4;
	}
	.contact.third {
		grid-column: 10 / span 2;
	}

	.desktop-hidden {
		display: none;
	}
	.mobile-hidden {
		display: block;
	}
	@container (max-height: 275px) {
		.grup {
			padding: 0.85em;
		}
		.group p, .group ul, .group .btn {
			font-size: 0.65em;
		}
		.group ul {
			display:flex;
			flex-flow:row wrap;
			list-style-type: none;
		}
		.group ul li {
			padding-left: 0.15em;
		}
	}

}
@media screen and (min-width: 801px) and (max-width: 1005px) {
	.logo {
		background-size: contain;
		grid-row: 6 / span 1;
	}
	.four, .three {
		min-height: 265px;
	}
}