/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
@keyframes drawer {
	0% {
		opacity: 0;
		transform: translateY(-600px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes drawer-close {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-600px);
	}
}
@keyframes wave {
	0% {
		clip-path: polygon(0% 87%, 27% 82%, 54% 86%, 81% 81%, 100% 87%, 100% 0%, 0% 0%);
	}
	50% {
		clip-path: polygon(0% 76%, 27% 87%, 54% 79%, 81% 87%, 100% 79%, 100% 0%, 0% 0%);
	}
	100% {
		clip-path: polygon(0% 87%, 27% 82%, 54% 86%, 81% 81%, 100% 87%, 100% 0%, 0% 0%);
	}
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
	background-color: #a93e27;
	color: #fff;
}
footer a {
    color: #dce5f7;
}
footer > * {
    padding: 0 1rem 0 1rem;
}
footer section.contact {
    width: calc((100% / 2) - 2rem);
}
aside {
	width: 100%;
}
.show-vids #js-vid, .show-vids #a11y-vid {
    width: 300px;
    transform: translate(0px, 0px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
}
.drawer {
	animation: drawer ease-in 0.5s;
}
.drawer-close {
	animation: drawer-close ease-in 0.5s;
}
.dot {
	display: none;
	opacity: 0;
}
.show {
	opacity: 1 !important;
}
body {
    margin: 0;
}
.wrapper {
	display: block;
	position: relative;
	margin: 0;
	font-family: "Readex Pro", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
a {
	padding: 7px;
	color: #234b9b;
}
h1 {
    font-size: 2.3rem;
}
h2 {
	font-size: 1.99rem;
}
h3 {
	font-size: 1.8rem;
}
header {
	display: flex;
}
svg:has(defs) {
	display: none;
}
.arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translate(-50%, 35px);
	font-size: 30px;
    color: #fff;
}

header {
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	background-color: #fff;
	top: 0;
	align-items: flex-end;
	z-index: 12;
	height: 140px;
}
header .header-hide {
	display: none;
}
.logo {
	display: block;
	background: url('./images/R.png') 0 0 no-repeat;
	background-size: cover;
	width: 140px;
	height: 140px;
	position: relative;
}
.show-skills {
    top: 0;
    left: 0;
    padding-left: 4rem;
	margin-top: 114px;
    background: #fff;
    width: calc(100% - 1em);
    position: fixed;
    z-index: 1;
}
.show-skills ul {
	display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
    padding-top: 0.25em;
	padding-bottom: 2rem;
}
.show-skills h2 {
    padding-top: 2rem;
}
.show-skills .close-skills {
	font-weight: bold;
	font-size: 30px;
	position: absolute;
	left: 55px;
    top: 30px;
	background-color: transparent;
	border: none;
	color:#234b9b;
	transform: rotate(180deg) translate(10px, 10px);
	transition: transform 2s;
}
.project {
    display: flex;
    height: auto;
    padding: 2rem;
}
.me {
	align-items: flex-end;
	background-color: #0a3284c2;
	padding-bottom: 0;
	height: auto;
	flex-flow: column nowrap;
}
.bio {
	container-type: inline-size;
	width: 100%;
    max-width: calc(100% - 6rem);
	color:#252424;
    background: #fff;
    border-radius: 30px;
    padding: 2rem;
	margin: 2rem 0;
	box-shadow: 2px 2px 20px #777;
}

.project:nth-child(even) .bio {
	order: 2;
}
.profile.img {
    margin: 0 auto;
}
.profile.img img {
    max-width: 100%;
    border-radius: 30px;
}
section.heading {
	position: relative;
}
section.heading .heading-wave {
    text-align: center;
    color: #fff;
    padding: 2rem 0;
	position: absolute;
	width: 100%;
    height: 180px;
}
.heading-wave.sec {
	background: #000;
	animation: wave 2s ease-in-out infinite;

}
.one {
	background-color: #c2d0ed;
	color: #fff;
	padding-top: 200px;
    height: calc(100% + 200px);
}

.two {
	background-color: #252424;
	color: #fff;
}
.three {
	
	background-color: #c2d0ed;
}
.four {
	background: #d4d2d2;
}
.five {
	background-color: #252424;
}
.six {
	background-color: #c2d0ed;
}
.project .group {
	padding: 0 0.5em;
	width: calc(100% - 1em);
    height: auto;
	color: #fff;
	font-size: 16px;
	display: flex;
	justify-content: space-around;
    align-items: center;
	flex-flow: column nowrap;
}
.group > * {
	opacity: 0;
	filter:blur(5px);
}
.group.animate > * {
	opacity: 1;
	filter:blur(0px);
}
.group h2, 
.group ul {
	margin: 0;
}
/** scroll transforms */
.project.three .group > *:first-child {
    transform: translateX(100%);
	transition: all 1.4s ease-in-out 0.75s;
}
.project.three .group.animate > *:first-child {
    transform: translateX(0);
}
.project.three .group > *:last-child {
    transform: translateY(50%);
	transition: all 1.4s ease-in-out 0.75s;
}
.project.three .group.animate > *:last-child {
    transform: translateY(0);
}
.project.two .group > *:first-child {
    transform: translateX(-100%);
	transition: all 1.4s ease-in-out 0.75s;
}
.project.two .group.animate > *:first-child {
    transform: translateX(0);
}
.project.two .group > *:last-child {
    transform: translateY(-50%);
	transition: all 1.4s ease-in-out 0.75s;
}
.project.two .group.animate > *:last-child {
    transform: translateY(0);
}
.project.five .group > *:first-child {
    transform: translateY(-50%);
	transition: all 1.4s ease-in-out 0.5s;
}
.project.five .group.animate > *:first-child {
    transform: translateY(0);
}
.project.five .group > *:last-child {
    transform: translateX(-100%);
	transition: all 1.4s ease-in-out 0.5s;
}
.project.five .group.animate > *:last-child {
    transform: translateX(0);
}
.project.six .group > *:first-child {
    transform: translateY(50%);
	transition: all 1.4s ease-in-out 0s;
}
.project.six .group.animate > *:first-child {
    transform: translateY(0);
}
.project.six .group > *:last-child{
    transform: translateX(100%);
	transition: all 1.4s ease-in-out 0s;
}
.project.six .group.animate > *:last-child{
    transform: translateX(0);
}
/** **/
.buttons {
    margin-top: 0.5em;
}
.clickme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	transition: all 1s ease-in-out;
}
.clickme button {
	background-color: transparent;
	border: none;
	font-weight: 700;
    font-size: 18px;
}
.clickme:has(button[aria-pressed=true]) {
    top: 10px;
    left: 0;
    transform: translate(10px, -10px);
}
.btn {
	display: inline-flex;
    font-weight: 700;
    min-height: 50px;
    min-width: 305px;
    position: relative;
    margin-right: 2em;
}
.btn:not(:has( a), :has( button)) {
    display: none;
}
.btn > * {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(225,225,225, 0.0532);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	border: 1px solid rgba(255,255,255, 0.05);
	z-index: 10;
	color:#000;
	cursor: pointer;
    user-select: none;
    appearance: none;
    text-decoration: none;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
	transition: 0.5s;
	overflow: hidden;
	backdrop-filter: blur(15px);
}
.btn:hover > *, 
.btn:focus > *,
.clickme button[aria-pressed="true"] {
	letter-spacing: 1px;
	color: #fff;
}
.btn > *::before {
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 100%;
	background: linear-gradient(270deg, #07205059, transparent);
	transform: skewX(45deg);
	transition: 0.5s;
	transition-delay: 0s;
}
.btn > *:hover::before,
.btn button[aria-pressed=true]::before {
	transform: skewX(45deg) translateX(200%);
	transition-delay: 0s;
}
.btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: #072050;
	bottom: -22px;
	width: 30px;
	height: 10px;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
}
.clickme .btn::before {
    bottom: -7px;
}
.btn:hover::before,
.btn:has( button[aria-pressed=true])::before {
	bottom: -5px;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: #072050;
	top: -5px;
	width: 30px;
	height: 10px;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
}
.btn:hover::after,
.btn:has( button[aria-pressed=true])::after {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.mobile-hidden {
	display: none;
}
header h1 {
    padding-left: 0.25em;
	font-size: 18px;
}

.contact.third {
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.contact.third img {
    max-width:20px;
    max-height:20px;
}
h2.header-hide {
    min-width: 100%;
}
header .contact.first {
	text-align: center;
    flex-grow: 1;
}
.one-wrappper,
.two-wrapper,
.pic-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	align-items: center;
}
.pic-wrapper {
    max-width: 100%;
    max-height: 500px;
}
.pic-wrapper img {
    max-width: 100%;
}
#ally .pic-wrapper {
    max-width: 350px;
	
}
#ally .pic-wrapper img {
	border-radius: 30px;
}
.js-vid-caption {
    max-width: 100%;
    padding: .65em;
    position: relative;
    display: flex;
    justify-content: center;
}
.video-box {
	width: 100%;
	align-content: center;
	position: relative;
}

#a11y-vid, #js-vid {
	border-radius: 30px;
	max-width: 100%;
	opacity: 0.5;
    transition: all 1s;
}

@media screen and (min-width: 1000px) {
	svg:has(defs) {
		display: block;
	}
	.contact.third img {
        max-height: 50px;
        height: auto;
        max-width: 50px;
    }
	.contact.third a {
		display: block;
	}

	main {
		display: flex;
		flex-flow: column nowrap;
		padding: 0;
	}
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2.65rem;
	}
	.pic-wrapper {
		max-width: 35%;
	}
	#ally .pic-wrapper {
		max-width: 500px;
	}
	section {
		margin: 0;
	}
	.project {
        min-height: 100vh;
    }
	.project .group,
	.one-wrappper, 
	.pic-wrapper, 
	.two-wrapper {
		flex-flow: row nowrap;
	}
	.me {
		flex-flow: row nowrap;
		min-height: 85vh;
        height: 85vh;
	}
	.project .bio {
		flex-flow: row wrap;
	}
	.bio {
		min-width: 50%;
		margin: 2rem;
	}
	.one {
		min-height: calc(100vh + 200px);
	}
	.me .bio {
		min-width: 60%;
	}
	.bio {
		max-width: 35%;
	}
	.contact img {
		width: 80px;
	}
	.video-box {
		width: 50%;
	}
	footer section.contact {
		width: calc((100% / 3) - 2rem);
	}
	aside {
		text-align: center;
	}
	.contact.first {
		padding-left: 1em;
	}

	.desktop-hidden {
		display: none;
	}
	.mobile-hidden {
		display: block;
	}

}
@container (max-width: 640px) {
	.js-vid-caption {
		flex-wrap: wrap;
		min-height: 200px;
        align-items: start;
	}

}